@import url('./fonts.css');
@import url('./variables.css');

/* ====================== GLOBAL ====================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F0F7FF;
    font-size: var(--fz-s);
    letter-spacing: 0.4px;
    line-height: var(--lh-s);
    text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}


/*====================== HEADER =========================*/

.weather-bg {
    display: flex;
    flex-direction: column;
    max-width: 414px;
    margin: 0 auto;
    padding: clamp(16px, calc(30 / 1200 * 100vw), 30px);;
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%) center / cover no-repeat fixed;
    box-shadow: -4px 8px 30px 2px rgba(19, 35, 78, 0.2);
    border-radius: 10px;
    margin-top: 30px;
}

.city-input {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -4px 8px 30px 2px rgba(19, 35, 78, 0.2);
    border: none;
    border-radius: 6px;
    padding: 8px 10px;
    letter-spacing: 1px;
    outline: none;
}

.city-input::placeholder, .city-input:focus, .city-input {
    color: #838BAA;
    font-size: var(--fz-xs);
    line-height: var(--lh-xs);
}

.current-info-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin-top: 10px;
}

.current-city-wrapper, .degrees-scale-wrapper {
    display: flex;
    align-items: center;
    font-size: var(--fz-m);
    line-height: var(--lh-m);
    gap: 8px;
}


.celsius, .fahrenheit {
    width: 38px;
    padding: 2px;
    text-align: center;
    outline: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.active,
.celsius:hover,
.fahrenheit:hover,
.current-weather-wrapper,
.next-day-forecast:hover {
    background: rgba(255, 255, 255, 0.3);
    outline: 2px solid rgba(186, 206, 222, 0.72);
    /*box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px  rgba(19, 35, 78, 0.2);*/
    box-shadow: -4px 8px 30px 2px rgba(19, 35, 78, 0.2);
    border-radius: 10px;

}

/*=================== CURRENT WEATHER ==============*/

.current-weather-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 18px;
    margin-top: 20px;
}

.main-info-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.current-weather-img {
    max-width: 100px;
}

.current-weather-temperature {
    font-size: var(--fz-xl);
    line-height: var(--lh-xl);;
}

.current-weather-description {
    margin-top: 6px;
    font-size: var(--fz-l);
    line-height: var(--lh-l);
    font-weight: bold;
}

.current-weather-parameters {
    display: flex;
    /*flex-direction: column;*/
    gap: 22px;
    flex-wrap: wrap;
    margin-top: 14px;
    width: 100%;
}

.parameters-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-basis: calc(50% - 11px);
    text-align: center;
}

/* ================== WEATHER FORECAST ================ */

.next-forecast-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin-top: 30px;
}

.next-day-forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.next-forecast-date {
    font-size: var(--fz-xs);
    line-height: var(--lh-xs);
}

.next-forecast-img {
    max-height: 30px;
}

.parameters-icon {
    height: var(--fz-m);
}
